{% extends "base.html" %}

<!--{% load crispy_forms_tags %}-->

{% block title %} contact {% endblock title %}
{% block content %}
    <h2 style="text-align: center; border-top: 1px solid #e0e0e0; padding-top: 1.5rem;">Contact</h2>
<center>
</center>
<div class="container" style="">
    <div class="row">
        <div class="col-lg-7" style="margin: 0 auto;">
            <form action="{% url 'contact' %}" method="post" style="" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}