body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.2rem;
    background-color: rgb(0, 0, 0, 0.1);
    background: url('../images/nice.jpg') no-repeat center center/cover;
    background-size: 100%;
    z-index: 2;
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
}

nav{
    margin: 2rem;
}

ul{
    word-spacing: 1.2rem;
    text-transform: capitalize;
    float: right;
    padding-right: 5rem;
    padding-top: 3rem;
    font-size: 1.6rem;

}

li{
    display: inline;
}

.logo{
    width: 10rem;
    height: 10rem;
    padding-left: 5rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: darken(@link-color, 15%);
}

.container{
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    color: white;
    top: 50%;
    left: 50%;
}

h1{
    text-transform: uppercase;
    word-spacing: 0.9rem;
    font-size: 5rem;
}

.name{
    letter-spacing: 0.3rem;
}

