body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: px;
    font-size: 1rem;
    line-height: 1.2rem;
}

nav{
    margin: 2rem;
}

ul{
    word-spacing: 1.2rem;
    text-transform: capitalize;
}

li{
    display: inline;
}